header{
    text-align: center;
}
h2{
    text-align: center;
}


.btn-primary {
    background-color: #4F3674;
    color: #fff;
}

.Convert-title{
    height: 300px;
    width: 300px;
    background-color:green;
    text-align: center;
}