/**
    Assignment 1 - Environment Setup
 */
 body {
    margin: 0;
    font-family: 'Oswald', Verdana, Arial, sans-serif; 
}

a{
    color: #4F3674
}

a:hover{
        color:#d6a800
        
    }
a:visited{
        color: #3c275a
    }
    
a{
        text-decoration: none;
    }

    